body {
  background: black;
  font-family: 'Odibee Sans', cursive;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

body {
  background-color: rgb(0, 0, 0);
  color: #fff;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

/*========================*/

.header {
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: 768px) {
    display: block;
    text-align: center;
  }
}

.header__logo {
  max-width: 380px;
  max-height: 208px;
  position: relative;

  & > span {
    color: rgba(255, 255, 255, 0.9);
    position: absolute;
    top: 10px;
    right: 23px;
    cursor: default;
  }

  & > a > img {
    width: 100%;
  }

  @media (max-width: 768px) {
    margin: 0 auto;
  }
}
.header__logo-text {
  font-size: 50px;
  color: rgba(255, 255, 255, 0.9);
  transition: color .2s ease;

  &:hover {
    color: rgba(255, 255, 255, 1);
  }

  @media (max-width: 992px) {
    font-size: 28px;
  }
}

/*=========================*/
.menu__link img {
  width: 80px;
  height: 80px;
}

.menu__icon {
  position: fixed;
  right: 10px;
  top: 40px;
  z-index: 10;
  
  & img {
  max-width: 80px;

  animation-name: animation-icon;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  }
  
}

@keyframes animation-icon {
  0%{
    border: 1px solid white;
    border-radius: 30%;
  }

  100%{
    border: 1px solid white;
    border-radius: 50%;
  }
}

@media (min-width: 767px) {
  .menu__list {
    padding: 10px 0;
  }
}

@media (max-width: 767px) {
  .menu__icon {
    z-index: 5;
    display: block;
    position: fixed;
    top: 25px;
    right: 0;
    width: 100px;
    height: 100px;
    cursor: pointer;

    & img {
      width: 100px;
      height: 100px;
    }
  }
  .menu__list {
    background-color: rgba(0,0,0, 0.5);
    border-radius: 50px;
  }
}
.menu__body {
  position: fixed;
  top: 0;
  right: 10px;
  height: 100%;
  z-index: 5;

  transform: translate(120%, 0);
  transition: left 0.3s ease 0s;
}
.menu__list > li {
  margin: 0 0 30px 0;
}
.menu__list > li:last-child {
  margin-bottom: 0;
}
.menu__body._active {
  top: 130px;
  transform: translate(0, 0);
}


/*========================*/

.works {
  & > h1 {
    margin-bottom: 50px;
    padding-top: 30px;
    text-align: center;
    font-size: 55px;

    @media (max-width: 767px) {
      font-size: 35px;
      padding-top: 15px;
      margin-bottom: 30px;
    }
  }
}

.works__wrapper {
  display: flex;
  flex-wrap: wrap;
  padding: 0 10px;
}

.works__item {
  width: calc(33.33333% - 20px);
  margin: 10px;
  height: 540px;
  position: relative;

  text-align: center;

  transition: background-color 0.2s ease;

  &:hover {
    background-color: rgb(255, 255, 255);

    &:hover > .works__content > .works__text {
      color: rgb(0, 0, 0);
    }

    &:hover > .works__content > .works__title {
      color: rgb(0, 0, 0);
    }

    &:hover > .btn-cont > .btn {
      background-color: darkslategray;
    }
  }
  @media (max-width: 1415px) {
    height: 560px;
  }

  @media (max-width: 1100px) {
    width: calc(50% - 20px);
  }

  @media (max-width: 767px) {
    width: 100%;
    height: 490px;
  }
}
.works__item--purple {
  background-color: rgb(70, 71, 161);
}

.works__item--pink {
  background-color: deeppink;
}

.work__item--grey {
  background-color: dimgrey;
}

.work__item--green {
  background-color: rgb(39, 216, 128);
}

.work__item--orange {
  background-color: rgb(255, 72, 0);
}

.work__item--blue {
  background-color: rgb(0, 162, 202);
}

.works__title {
  font-weight: 700px;
  margin: 25px 0;
  font-size: 32px;

  @media (max-width: 992px) {
    font-size: 28px;
  }

  @media (max-width: 767px) {
    margin: 10px 0;
  }
}

.works__text {
  margin-bottom: 20px;
  font-size: 22px;

  @media (max-width: 992px) {
    font-size: 20px;
  }
}

.btn-cont {
  width: 100%;
  left: 0;
  height: 70px;
  position: absolute;
  bottom: 35px;
  font: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  @media (max-width: 767px) {
    bottom: 7px;
  }
}

.btn {
  padding: 20px 30px;

  border-radius: 30px;
  font-size: 24px;
  background-color: rgb(0, 0, 0);
  text-decoration: none;
  color: #fff;

  &:hover {
    color: rgb(233, 233, 233);
  }
}

/*/////////////////////////*/

.work-examples {
  height: 100vh;
  margin: 80px 0;
}

.work-examples__title {
  margin-bottom: 80px;
  font-size: 40px;
  text-align: center;
  cursor: default;
}

.work-examples__wrapper {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.work-examples__item {
  width: 31%;
  margin: 10px;
  text-align: center;

  overflow: hidden;

  background-color: #fff;
  color: #000;
  opacity: 0.9;
  transition: 0.2s ease;

  &:hover {
    opacity: 1;
  }

  & a {
    width: 369px;
    text-decoration: none;
    color: #000;
    text-align: center;
  }

  @media (max-width: 905px) {
    width: 40%;
  }
  @media (max-width: 500px) {
    width: 100%;
  }
}
.work-examples__img {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
}

.work-examples__text {
  padding: 20px 0;
  font-size: 20px;
}

/*/////////////////////////*/
