body{
  background: black;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

body {
  background-color: rgb(0, 0, 0);
  color: #fff;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul,
li {
  list-style: none;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

/*========================*/

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: 768px) {
    display: block;
    text-align: center;
  }
}

.header__logo {
  width: 380px;
  height: 208px;
  position: relative;

  & > span {
    position: absolute;
    top: 10px;
    right: 40px;
    
  }

  & > a > img {
    width: 100%;

  }

  @media (max-width: 768px) {
    margin: 0 auto;
  }
}

/*=======================*/

.contact {
  display: flex;
  justify-content: space-between;

  & > .contact__item > a > img {
    width: 80px;
    height: 80px;
  }

  @media (max-width: 900px) {
    
  }
}

.contact__item {
  margin-left: 20px;
}





/*========================*/

.nav {
  display: flex;
  justify-content: space-between;

  @media (max-width: 500px) {
    display: none;
  }
}

.nav__link {
  
  text-decoration: none;
  font-size: 26px;
  color: #fff;

  transition: color .1s ease;

  &:hover {
    color: rgb(145, 145, 145)
  }
}

/*========================*/

.works {
  & > h1 {
    margin-bottom: 50px;
    padding-top: 30px;
    text-align: center;
    font-size: 55px;

    @media (max-width: 767px) {
      font-size: 35px;
      padding-top: 15px;
      margin-bottom: 30px;
    }
  }
}

.works__wrapper {
  display: flex;
  flex-wrap: wrap;
  padding: 0 10px;
}

.works__item {
  width: calc(33.33333% - 20px);
  margin: 10px;
  height: 530px;
  position: relative;

  text-align: center;

  transition: background-color 0.2s ease;

  &:hover {
    background-color: rgb(255, 255, 255);

    &:hover > .works__content > .works__text {
      color: rgb(0, 0, 0);
    }

    &:hover > .works__content > .works__title {
      color: rgb(0, 0, 0);
    }

    &:hover > .btn-cont > .btn {
      background-color: darkslategray;
    }
  }

  @media (max-width: 1100px) {
    width: calc(50% - 20px);
  }

  @media (max-width: 767px) {
    width: 100%;
  }
}

.works__item--purple {
  background-color: rgb(70, 71, 161);
}

.works__item--pink {
  background-color: deeppink;
}

.work__item--grey {
  background-color: dimgrey;
}

.work__item--green {
  background-color: rgb(39, 216, 128);
}

.work__item--orange {
  background-color: rgb(255, 72, 0);
}

.work__item--blue {
  background-color: rgb(0, 162, 202);
}

.works__title {
  font-weight: 700px;
  margin: 35px 0;
  font-size: 32px;

  @media (max-width: 992px) {
    font-size: 28px;
  }
}

.works__text {
  margin-bottom: 20px;
  font-size: 22px;

  @media (max-width: 992px) {
    font-size: 20px;
  }
}

.btn-cont {
  width: 100%;
  left: 0;
  height: 70px;
  position: absolute;
  bottom: 35px;
  font: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn {
  padding: 20px 30px;

  border-radius: 30px;
  font-size: 24px;
  background-color: rgb(0, 0, 0);
  text-decoration: none;
  color: #fff;

  &:hover {
    color: rgb(233, 233, 233);
  }
}
