@charset "UTF-8";
body {
  background: black;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

body {
  background-color: black;
  color: #fff;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul,
li {
  list-style: none;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

/*========================*/
.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 768px) {
  .header__inner {
    display: block;
    text-align: center;
  }
}

.header__logo {
  max-width: 380px;
  max-height: 208px;
  position: relative;
}

.header__logo > span {
  position: absolute;
  top: 10px;
  right: 40px;
}

.header__logo > a > img {
  width: 100%;
}

@media (max-width: 768px) {
  .header__logo {
    margin: 0 auto;
  }
}

.contact {
  margin: 30px 0;
}

.tel, .email {
  margin-top: 20px;
}

.tel > a, .email > a {
  text-decoration: none;
  color: #fff;
  font-size: 28px;
  -webkit-transition: color .1s ease;
  transition: color .1s ease;
}

.tel > a:hover, .email > a:hover {
  color: #919191;
}

.nav {
  margin: 35px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 500px) {
  .nav {
    display: none;
  }
}

.nav__link {
  text-decoration: none;
  font-size: 26px;
  color: #fff;
  -webkit-transition: color .1s ease;
  transition: color .1s ease;
}

.nav__link:hover {
  color: #919191;
}

/*========================*/
.works > h1 {
  margin-bottom: 50px;
  padding-top: 30px;
  text-align: center;
  font-size: 55px;
}

@media (max-width: 767px) {
  .works > h1 {
    font-size: 35px;
    padding-top: 15px;
    margin-bottom: 30px;
  }
}

.works__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0 10px;
}

.works__item {
  width: calc(33.33333% - 20px);
  margin: 10px;
  height: 530px;
  position: relative;
  text-align: center;
  -webkit-transition: background-color 0.2s ease;
  transition: background-color 0.2s ease;
}

.works__item:hover {
  background-color: white;
}

.works__item:hover:hover > .works__content > .works__text {
  color: black;
}

.works__item:hover:hover > .works__content > .works__title {
  color: black;
}

.works__item:hover:hover > .btn-cont > .btn {
  background-color: darkslategray;
}

@media (max-width: 1100px) {
  .works__item {
    width: calc(50% - 20px);
  }
}

@media (max-width: 767px) {
  .works__item {
    width: 100%;
  }
}

.works__item--purple {
  background-color: #4647a1;
}

.works__item--pink {
  background-color: deeppink;
}

.work__item--grey {
  background-color: dimgrey;
}

.work__item--green {
  background-color: #27d880;
}

.work__item--orange {
  background-color: #ff4800;
}

.work__item--blue {
  background-color: #00a2ca;
}

.works__title {
  font-weight: 700px;
  margin: 35px 0;
  font-size: 32px;
}

@media (max-width: 992px) {
  .works__title {
    font-size: 28px;
  }
}

.works__text {
  margin-bottom: 20px;
  font-size: 22px;
}

@media (max-width: 992px) {
  .works__text {
    font-size: 20px;
  }
}

.btn-cont {
  width: 100%;
  left: 0;
  height: 70px;
  position: absolute;
  bottom: 35px;
  font: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.btn {
  padding: 20px 30px;
  border-radius: 30px;
  font-size: 24px;
  background-color: black;
  text-decoration: none;
  color: #fff;
}

.btn:hover {
  color: #e9e9e9;
}
/*# sourceMappingURL=style.css.map */
